@model IEnumerable<BookIt.Application.DTOs.EventDTO.GetEventDTO>
@* @model IEnumerable<BookIt.Application.DTOs.EventDetailDTO.GetEventDetailDTO> *@
@{
    ViewData["Title"] = "Events";
}


<br>
<br>
<br>
<br>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<a asp-action="Create" class="btn btn-success mb-3">Create New Event</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Event Date</th>
            <th>Price Range</th>
            <th>Location</th>
            <th>Category</th>
            <th>Sold Out?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var evt in Model)
        {
            <tr>
                <td>@count</td>
                <td>@evt.Title</td>
                <td>@evt.EventDate.ToString("dd/MM/yyyy")</td>
                <td>@evt.PriceRange</td>
                <td>@evt.LocationName</td>
                <td>@evt.CategoryName</td>
                <td>@(evt.IsSoldOut ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Update" asp-route-id="@evt.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Index" asp-controller="EventDetail" asp-route-eventId="@evt.Id" class="btn btn-sm btn-info">Event Details</a>
                    <form id="deleteForm-@evt.Id" asp-action="Delete" asp-route-id="@evt.Id" method="post">
                        @Html.AntiForgeryToken()
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('deleteForm-@evt.Id')">Delete</button>
                    </form>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
@section Scripts {
    <!-- Additional scripts if needed -->
}
